* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.menu {
  margin: 50px auto;
  text-align: center;
}
#movieBoard {
  width: 90%;
  margin: 50px auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* align-items: center; */
  text-align: center;
  border: 1px solid blue;
  box-sizing: border-box;
}
#movieBoard .card {
  margin: 50px 0px;
  width: calc(100% / 4 - 15px);
  border: 1px solid red;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);
}
h3 {
  font-weight: bold;
  font-size: 1.2rem;
}
.search {
  text-align: center;
}
.card {
  position: relative;
}
.card.on {
  display: block;
}
.movieDetail {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px 16px;
  box-sizing: border-box;
  color: #fff;
  display: none;
}
.card.on::before {
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
  width: 100%;
  height: 400px;
  position: absolute;
  left: 0px;
  top: 0px;
  pointer-events: none;
}
.card.on .movieDetail {
  display: block;
}
.movieDetail .overview {
  font-weight: normal;
  height: calc(400px - 30px);
  overflow-y: scroll;
  display: flex;
  align-items: center;
  z-index: 1;
  font-size: 0.9rem;
  box-sizing: border-box;
}
.movieDetail .overview::-webkit-scrollbar {
  display: none;
}
.movieDetail .vote {
  height: 30px;
}
#more {
  margin: 50px auto;
  text-align: center;
  display: block;
  width: 100px;
  cursor: pointer;
}
